body{
    background-color: #626262;
    color: #fff;
    font-size: 15px;
}

.iti__flag {background-image: url("../node_modules/intl-tel-input/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../node_modules/intl-tel-input/build/img/flags@2x.png");}
}

.iti__country-name{
    color: #000;
}

.iti { width: 100%; }

.container{
    color: #fff;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: #424242;
    min-height: 200px;
}

#header{
    padding: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.form-control{
    padding: 25px;
}

.row{
    margin-bottom: 10px;
}

.cols{
    margin-top: 12px;
}

#country{
    padding: 0px;
    height: 50px;
}

input[type="text"], input[type="date"], input[type="tel"]{
    border: none;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:active:focus{
    background-color: #ff921c!important;
    border-color: #ff921c!important;
    width: 100%;
    color: #fff;
    padding: 13px;
    border: none;
}

.checkbox1{
    min-width: 150px;
}

.checkbox2{
    min-width: 180px;
}

.checkbox3{
    min-width: 130px;
}

#dropdownMenuButton{
    background-color: #424242;
    font-size: 20px;
    margin-top: 4px;
    border: none;
}

.row3{
    min-width: 110px;
}

.parcel{
    min-width: 115px;
    height: 35px;
}

.pet{
    min-width: 120px;
    height: 35px;
}

.disability{
    min-width: 200px;
}

#parcel, #pet, #disability{
    color: #999;
    cursor: pointer;
}

.col{
    padding-left: 5px;
    padding-right: 5px;
}

.labels{
    left: 20px;
}

.icons{
    float: left;
    position: relative;
    font-size: 30px;
    bottom: 13px;
}

.checkboxContainer1{
    margin-bottom: 0px;
}

.checkboxContainer1{
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer2{
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
.checkboxContainer1 input, .checkboxContainer2 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
    
.checkmark1{
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #424242;
    border: 2px solid #999;
    border-radius: 3px;
}

.checkmark2{
    display: none;
    position: absolute;
    top: 10px;
    left: 20px;
    height: 18px;
    width: 18px;
    border: 3px solid #ff921c;
    border-radius: 9px;
}
    
.checkboxContainer1:hover input ~ .checkmark1{
    background-color: #ff921c;
    border-color: #ff921c;
}

.checkboxContainer2:hover input ~ .checkmark2 {
    background-color: #ff921c;
    border-color: #ff921c;
}
    
.checkboxContainer1 input:checked ~ .checkmark1{
    background-color: #ff921c;
    border-color: #ff921c;
}

.checkboxContainer2 input:checked ~ .checkmark2 {
    display: block;
    background-color: #ff921c;
    border-color: #ff921c;
}
    
.checkmark1::after, .checkmark2::after {
    content: "";
    position: absolute;
    display: none;
}
    
.checkboxContainer1 input:checked ~ .checkmark1::after{
    display: block;
}

.checkboxContainer2 input:checked ~ .checkmark2::after {
    display: block;
}
    
.checkboxContainer1 .checkmark1::after{
    left: 3px;
    bottom: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxContainer2 .checkmark2::after{
    left: 3px;
    bottom: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#th{
    background-color: #ff921c;
    color: #fff;
}

#toastContent{
    background-color: #424242;
}