@charset "UTF-8";

 
.icon-accessibility:before { content: '\e006'; } /* '' */
.icon-guidedog:before { content: '\e08f'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-box:before { content: '📦'; } /* '\1f4e6' */